<div class="layout">
  <aside class="sidebar">
    <div class="logo">ERP System</div>
    <hr>
    <nav class="menu">
      <a routerLink="/dashboard" class="menu-item" data-testid="nav-link-dashboard" routerLinkActive="active">
                  <img src="../bar-chart.png" alt="" class="icon">
                    Dashboard
                </a>
      <a routerLink="" class="menu-item" data-testid="nav-link-dashboard" routerLinkActive="active">
                    <img src="../file.png" alt="" class="icon">
                       Purchase Order Enter
                </a>
      <a routerLink="" class="menu-item" data-testid="nav-link-dashboard" routerLinkActive="active">
                    <img src="../view.png" alt="" class="icon">
                      Purchase Order View
                </a>
      <a routerLink="" class="menu-item" data-testid="nav-link-dashboard" routerLinkActive="active">
                   <img src="../analytics-chart.png" alt="" class="icon">
                     Reports
                </a>
    </nav>

    <div class="user">
      <div class="avatar"></div>
      <div>
        <p class="name">John Doe</p>
        <p class="role">Administrator</p>
      </div>
    </div>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>