<div class="container">
  <div class="heading">
    <p>Profile</p>
  </div>

  <div class="user-data-container">
    <div class="hero">
      <div class="user-image">
        <img src="/user.png" alt="user" />
      </div>

      <div class="name-email">
        <p class="name">{{ name }}</p>
        <p class="email">{{ email }}</p>
      </div>

      <div class="edit-button">
        <button
          [ngClass]="{ 'bg-[#FFB800]': isEditing, 'bg-white': !isEditing }"
          (click)="setIsEditing()"
        >
          Edit
        </button>
      </div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <div class="left-container">
          <div class="user-input">
            <label for="name">Name</label>
            <input type="text" [readOnly]="!isEditing" formControlName="name" />
          </div>

          <div class="user-input">
            <label for="mobile">Phone</label>
            <input
              type="text"
              [readOnly]="!isEditing"
              formControlName="mobile"
            />
          </div>

          <div class="user-input">
            <label for="address">Address</label>
            <input type="text" readonly formControlName="address" />
          </div>
        </div>

        <div class="right-container">
          <div class="user-input">
            <label for="email">Email</label>
            <input
              type="email"
              [readOnly]="!isEditing"
              formControlName="email"
            />
          </div>

          <div class="user-input">
            <label for="role">Designation</label>
            <input type="text" readonly formControlName="role" />
          </div>

          <div class="user-input">
            <label for="image">Profile Picture</label>
            <input
              type="file"
              id="image"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        </div>
      </div>
      <div *ngIf="isEditing" class="save-btn">
        <button type="submit">Save</button>
      </div>
    </form>
    <div class="password-reset-section">
      <div class="user-input">
        <label for="password-reset">Request password reset.</label>
        <button (click)="handleClickRequest()">Request</button>
      </div>
    </div>
  </div>
  <app-notification
    *ngIf="message"
    [message]="message"
    [messageType]="messageType"
    (close)="closeNotification()"
  ></app-notification>
</div>
