<div class="px-12">
    <span class="text-3xl font-bold">Sales Order Enter</span><br>
    <div class="main-container">
        <div class="top-container">
            <span class="text-xl font-semibold">Upload Purchase Order</span>
            <div class="container">
                <div class="w-20"><img src="../loading.png" alt="" class="image"></div>
                <div>
                    <span class="text-lg">Drop PDF files here or click to upload</span>
                </div>
                <div>
                    <span class="text-md opacity-50">Supports PDF files up to 10MB</span>
                </div>
                <div>
                    <button class="upload">Browse Files</button>
                </div>
            </div>

            <div class="flex justify-end">
                <button type="button" class="extract">Extract</button>
            </div>
        </div>

        <div class="bottom-container">
            <div class="flex items-center justify-between">
                <div>
                    <span class="text-lg font-bold">Extracted Purchase Order Data</span>
                </div>
                <div class="flex gap-4">
                    <button class="save" (click)="save()">Save</button>
                    <button class="edit" (click)="toggleEditMode()">Edit</button>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
                <div>
                    <span class="text-sm uppercase text-gray-700">PO Number</span>
                    <input type="text" class="input" [disabled]="!isEditable" [(ngModel)]="saveData.poNumber"
                        name="poNumber">
                </div>
                <div>
                    <span class="text-sm uppercase text-gray-700">Customer</span>
                    <input type="text" class="input" [disabled]="!isEditable" [(ngModel)]="saveData.customer"
                        name="customer">
                </div>
                <div class="box">
                    <span class="text-sm uppercase text-gray-700">Currency</span>
                    <input type="text" class="input" [disabled]="!isEditable" [(ngModel)]="saveData.currency"
                        name="currency">
                </div>
                <div class="box">
                    <span class="text-sm uppercase text-gray-700">total value</span>
                    <input type="text" class="input" [disabled]="!isEditable" [(ngModel)]="saveData.tValue"
                        name="tValue">
                </div>
                <div class="box col-span-2">
                    <span class="text-sm font-semibold">Invoice Address</span>
                    <textarea class="input" [disabled]="!isEditable" [(ngModel)]="saveData.inAddress"
                        name="inAddress"></textarea>
                </div>
                <div class="box col-span-2">
                    <span class="text-sm font-semibold">Delivery Address</span>
                    <textarea class="input" [disabled]="!isEditable" [(ngModel)]="saveData.deliAddress"
                        name="deliAddress"></textarea>
                </div>
            </div>
            <h4 class="text-lg font-semibold text-gray-900 mb-4">Order Items</h4>
            <div class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr class="border-b border-gray-200">
                            <th>Item
                                Name</th>
                            <th>Unit
                                Price</th>
                            <th>
                                Quantity</th>
                            <th>Total
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        @for(item of data; track item.id){ <tr>
                            <td>{{item.itemName}}
                            </td>
                            <td>{{item.unitPrice}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total}}</td>
                            <td><button type="button"><img src="../edit.png" alt="" class="icon"
                                        (click)="openForm(item)"></button></td>
                        </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (showForm && selectedItem) {
<div class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
    <div class="bg-white p-8 rounded-lg shadow-xl w-1/3">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold">Edit Item</h2>
            <button (click)="closeForm()" class="text-red-500 hover:text-red-800 text-xl">&times;</button>
        </div>
        <form class="grid grid-cols-2 gap-2">
            <div class="mb-4">
                <label class="block text-gray-700">Item Name</label>
                <input type="text" [(ngModel)]="selectedItem.itemName" name="itemName"
                    class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Unit Price</label>
                <input type="text" [(ngModel)]="selectedItem.unitPrice" name="unitPrice"
                    class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Quantity</label>
                <input type="text" [(ngModel)]="selectedItem.quantity" name="quantity"
                    class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Total</label>
                <input type="text" [(ngModel)]="selectedItem.total" name="total" class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Finishining</label>
                <input type="text" class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Colour Counter</label>
                <input type="number" class="mt-1 p-2 w-full border rounded">
            </div>
            <div class="col-span-2">
                <button type="submit" class="bg-blue-400  rounded-md border border-blue-700 w-full h-10"
                    (click)="saveChanges()">Save</button>
            </div>
        </form>
    </div>
</div>
}
